In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler,StandardScaler,MaxAbsScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import *

In [22]:
df= pd.read_csv('car.csv')
df.head

<bound method NDFrame.head of                                         name  year          Price  kms_driven  \
0       Hyundai Santro Xing XO eRLX Euro III  2007          80000  45,000 kms
1                    Mahindra Jeep CL550 MDI  2006       4,25,000      40 kms
2                 Maruti Suzuki Alto 800 Vxi  2018  Ask For Price  22,000 kms
3     Hyundai Grand i10 Magna 1.2 Kappa VTVT  2014       3,25,000  28,000 kms
4           Ford EcoSport Titanium 1.5L TDCi  2014       5,75,000  36,000 kms
...                                      ...   ...            ...         ...
8123                       Hyundai i20 Magna  2013         320000      110000
8124                   Hyundai Verna CRDi SX  2007         135000      119000
8125                  Maruti Swift Dzire ZDi  2009         382000      120000
8126                         Tata Indigo CR4  2013         290000       25000
8127                         Tata Indigo CR4  2013         290000       25000

     fuel_type transmission                 owner
0       Petrol       Manual           First Owner
1       Diesel       Manual           First Owner
2       Petrol       Manual           Third Owner
3       Petrol       Manual           First Owner
4       Diesel       Manual           First Owner
...        ...          ...                   ...
8123    Petrol       Manual           First Owner
8124    Diesel       Manual  Fourth & Above Owner
8125    Diesel       Manual           First Owner
8126    Diesel       Manual           First Owner
8127    Diesel       Manual           First Owner

[8128 rows x 7 columns]>

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          8128 non-null   object
 1   year          8128 non-null   object
 2   Price         8128 non-null   object
 3   kms_driven    8076 non-null   object
 4   fuel_type     8073 non-null   object
 5   transmission  8128 non-null   object
 6   owner         8128 non-null   object
dtypes: object(7)
memory usage: 444.6+ KB

Cleaning Data

In [24]:
df.year.unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest', '2020', '1999', '1996', '1994',
       '1998', '1997', '1991'], dtype=object)

In [25]:
df=df[df.year.str.isnumeric()]
df.year = df['year'].astype(int)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6372\3486556330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.year = df['year'].astype(int)

In [26]:
df= df[df['Price'] != 'Ask For Price' ]

In [27]:
df.Price = df['Price'].str.replace(',','')
df.Price

0        80000
1       425000
3       325000
4       575000
6       175000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: Price, Length: 8055, dtype: object

In [28]:
df.Price = df.Price.astype(int)

In [29]:
df['kms_driven']=df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [30]:
df= df[df['kms_driven'].str.isnumeric()]

In [31]:
df['kms_driven']= df['kms_driven'].astype(int)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8053 entries, 0 to 8127
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          8053 non-null   object
 1   year          8053 non-null   int32
 2   Price         8053 non-null   int32
 3   kms_driven    8053 non-null   int32
 4   fuel_type     8052 non-null   object
 5   transmission  8053 non-null   object
 6   owner         8053 non-null   object
dtypes: int32(3), object(4)
memory usage: 408.9+ KB

In [33]:
df=df[~df.fuel_type.isna()]

In [34]:
df.name=df.name.str.split(' ').str.slice(0,3).str.join(' ')

In [35]:
df.head()

,name,year,Price,kms_driven,fuel_type,transmission,owner
0,Hyundai Santro Xing,2007,80000,45000,Petrol,Manual,First Owner
1,Mahindra Jeep CL550,2006,425000,40,Diesel,Manual,First Owner
3,Hyundai Grand i10,2014,325000,28000,Petrol,Manual,First Owner
4,Ford EcoSport Titanium,2014,575000,36000,Diesel,Manual,First Owner
6,Ford Figo,2012,175000,41000,Diesel,Manual,First Owner

In [36]:
df.reset_index(drop = True)

,name,year,Price,kms_driven,fuel_type,transmission,owner
0,Hyundai Santro Xing,2007,80000,45000,Petrol,Manual,First Owner
1,Mahindra Jeep CL550,2006,425000,40,Diesel,Manual,First Owner
2,Hyundai Grand i10,2014,325000,28000,Petrol,Manual,First Owner
3,Ford EcoSport Titanium,2014,575000,36000,Diesel,Manual,First Owner
4,Ford Figo,2012,175000,41000,Diesel,Manual,First Owner
...,...,...,...,...,...,...,...
8047,Hyundai i20 Magna,2013,320000,110000,Petrol,Manual,First Owner
8048,Hyundai Verna CRDi,2007,135000,119000,Diesel,Manual,Fourth & Above Owner
8049,Maruti Swift Dzire,2009,382000,120000,Diesel,Manual,First Owner
8050,Tata Indigo CR4,2013,290000,25000,Diesel,Manual,First Owner
8051,Tata Indigo CR4,2013,290000,25000,Diesel,Manual,First Owner

In [37]:
df.describe()

              year         Price    kms_driven
count  8052.000000  8.052000e+03  8.052000e+03
mean   2013.662196  6.141670e+05  6.774275e+04
std       4.071909  7.722271e+05  5.640158e+04
min    1991.000000  2.999900e+04  0.000000e+00
25%    2011.000000  2.500000e+05  3.301500e+04
50%    2014.000000  4.344995e+05  6.000000e+04
75%    2017.000000  6.550000e+05  9.000000e+04
max    2020.000000  8.500003e+06  2.360457e+06

In [38]:
df=df[df.Price <= 7200000]

In [39]:
df.reset_index(drop= True, inplace= True)

In [40]:
#df.to_csv('car_clean.csv')

In [41]:
#lb= LabelEncoder()
		
#df['fuel_type']= df['fuel_type'].map({'Petrol':1, 'Diesel':2, 'LPG':3, 'CNG':4})
#df['transmission']= df['transmission'].map({'Manual':1, 'Automatic':2})
#df['owner']= df['owner'].map({'First Owner':1, 'Second Owner':2, 'Third Owner':4,'Fourth & Above Owner':4, 'Test Drive Car':0})
#df.head()

Model

In [42]:
x= df.drop('Price',axis=1)
y= df.Price

In [43]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.2)

In [44]:
ohe = OneHotEncoder()
ohe.fit(x[['name','fuel_type','transmission','owner']])

OneHotEncoder()

In [45]:
ohe.categories_

[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
        'Ambassador Grand 1500', 'Ambassador Grand 2000',
        'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40',
        'Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A4 35',
        'Audi A6 2.0', 'Audi A6 35', 'Audi A8', 'Audi Q3 2.0',
        'Audi Q3 35', 'Audi Q5 2.0', 'Audi Q5 3.0', 'Audi Q5 35TDI',
        'Audi Q5 45', 'Audi Q7', 'Audi Q7 3.0', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 6 Series', 'BMW 7 Series', 'BMW X1',
        'BMW X1 sDrive', 'BMW X1 sDrive20d', 'BMW X1 sDrive20i',
        'BMW X1 xDrive20d', 'BMW X3 xDrive20d', 'BMW X4 M', 'BMW X5 3.0d',
        'BMW X6 xDrive30d', 'BMW X7 xDrive', 'Chevrolet Aveo 1.4',
        'Chevrolet Aveo U-VA', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Captiva 2.2', 'Chevrolet Captiva LT',
        'Chevrolet Cruze LT', 'Chevrolet Cruze LTZ', 'Chevrolet Enjoy',
        'Chevrolet Enjoy 1.3', 'Chevrolet Enjoy 1.4',
        'Chevrolet Enjoy Petrol', 'Chevrolet Enjoy TCDi',
        'Chevrolet Optra 1.6', 'Chevrolet Optra Magnum',
        'Chevrolet Sail 1.2', 'Chevrolet Sail 1.3',
        'Chevrolet Sail Hatchback', 'Chevrolet Sail LT',
        'Chevrolet Sail UVA', 'Chevrolet Spark', 'Chevrolet Spark 1.0',
        'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera B1-10', 'Chevrolet Tavera B2',
        'Chevrolet Tavera B3', 'Chevrolet Tavera LS',
        'Chevrolet Tavera Neo', 'Chevrolet Trailblazer LTZ',
        'Daewoo Matiz SD', 'Daewoo Matiz SS', 'Datsun GO A', 'Datsun GO D',
        'Datsun GO Plus', 'Datsun GO T', 'Datsun Go Plus',
        'Datsun Redi GO', 'Datsun RediGO 1.0', 'Datsun RediGO A',
        'Datsun RediGO AMT', 'Datsun RediGO S', 'Datsun RediGO SV',
        'Datsun RediGO T', 'Fiat Avventura MULTIJET',
        'Fiat Avventura Power', 'Fiat Grande Punto', 'Fiat Linea 1.3',
        'Fiat Linea Classic', 'Fiat Linea Emotion', 'Fiat Palio 1.2',
        'Fiat Petra ELX', 'Fiat Punto 1.2', 'Fiat Punto 1.3',
        'Fiat Punto EVO', 'Fiat Punto Emotion', 'Fiat Punto Pure',
        'Force Gurkha Hard', 'Force Motors Force', 'Force Motors One',
        'Force One EX', 'Force One SX', 'Ford Aspire Titanium',
        'Ford Aspire Trend', 'Ford Classic 1.4', 'Ford Classic 1.6',
        'Ford EcoSport', 'Ford EcoSport 1.5', 'Ford EcoSport Ambiente',
        'Ford EcoSport S', 'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Ecosport 1.0', 'Ford Ecosport 1.5', 'Ford Ecosport Sports',
        'Ford Endeavor 4x4', 'Ford Endeavour 2.2', 'Ford Endeavour 2.5L',
        'Ford Endeavour 3.0L', 'Ford Endeavour 3.2', 'Ford Endeavour 4x2',
        'Ford Fiesta', 'Ford Fiesta 1.4', 'Ford Fiesta 1.5',
        'Ford Fiesta 1.6', 'Ford Fiesta Classic', 'Ford Fiesta Diesel',
        'Ford Fiesta EXi', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo 1.2P', 'Ford Figo 1.5', 'Ford Figo 1.5D',
        'Ford Figo 1.5P', 'Ford Figo Aspire', 'Ford Figo Diesel',
        'Ford Figo Duratorq', 'Ford Figo Petrol', 'Ford Figo Titanium',
        'Ford Freestyle Titanium', 'Ford Freestyle Trend',
        'Ford Fusion 1.4', 'Ford Fusion Plus', 'Ford Ikon 1.3',
        'Ford Ikon 1.4', 'Ford Ikon 1.6', 'Ford Ikon 1.8',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Accord 2.4',
        'Honda Accord V6', 'Honda Accord VTi-L', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Amaze Anniversary',
        'Honda Amaze E', 'Honda Amaze EX', 'Honda Amaze S',
        'Honda Amaze SX', 'Honda Amaze V', 'Honda Amaze VX',
        'Honda Amaze i-VTEC', 'Honda BR-V i-DTEC', 'Honda BR-V i-VTEC',
        'Honda BRV i-DTEC', 'Honda BRV i-VTEC', 'Honda Brio',
        'Honda Brio 1.2', 'Honda Brio E', 'Honda Brio Exclusive',
        'Honda Brio S', 'Honda Brio V', 'Honda Brio VX', 'Honda CR-V 2.0L',
        'Honda CR-V 2.4', 'Honda CR-V 2.4L', 'Honda City',
        'Honda City 1.3', 'Honda City 1.5', 'Honda City 2017-2020',
        'Honda City Corporate', 'Honda City E', 'Honda City S',
        'Honda City SV', 'Honda City V', 'Honda City VX', 'Honda City ZX',
        'Honda City ZXi', 'Honda City i', 'Honda City i-DTEC',
        'Honda City i-VTEC', 'Honda Civic 1.8', 'Honda Civic Hybrid',
        'Honda Civic ZX', 'Honda Jazz 1.2', 'Honda Jazz 1.5',
        'Honda Jazz Basic', 'Honda Jazz S', 'Honda Jazz Select',
        'Honda Jazz V', 'Honda Jazz VX', 'Honda Mobilio',
        'Honda Mobilio RS', 'Honda Mobilio S', 'Honda Mobilio V',
        'Honda WR V', 'Honda WR-V i-DTEC', 'Honda WR-V i-VTEC',
        'Hyundai Accent', 'Hyundai Accent CRDi', 'Hyundai Accent DLS',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLS', 'Hyundai Accent GLX', 'Hyundai Accent Gvs',
        'Hyundai Accent VIVA', 'Hyundai Creta', 'Hyundai Creta 1.4',
        'Hyundai Creta 1.6', 'Hyundai EON 1.0', 'Hyundai EON D',
        'Hyundai EON Era', 'Hyundai EON LPG', 'Hyundai EON Magna',
        'Hyundai EON Sportz', 'Hyundai Elantra 1.8',
        'Hyundai Elantra CRDi', 'Hyundai Elantra GLS',
        'Hyundai Elantra GT', 'Hyundai Elantra S', 'Hyundai Elantra SX',
        'Hyundai Elite i20', 'Hyundai Eon', 'Hyundai Eon D',
        'Hyundai Eon Era', 'Hyundai Eon Magna', 'Hyundai Eon Sportz',
        'Hyundai Fluidic Verna', 'Hyundai Getz', 'Hyundai Getz 1.1',
        'Hyundai Getz 1.5', 'Hyundai Getz GLE', 'Hyundai Getz GLS',
        'Hyundai Getz GLX', 'Hyundai Getz Prime', 'Hyundai Grand i10',
        'Hyundai Santa Fe', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro AT', 'Hyundai Santro Asta', 'Hyundai Santro DX',
        'Hyundai Santro Era', 'Hyundai Santro GLS', 'Hyundai Santro GS',
        'Hyundai Santro LE', 'Hyundai Santro LP', 'Hyundai Santro LS',
        'Hyundai Santro Magna', 'Hyundai Santro Sportz',
        'Hyundai Santro Xing', 'Hyundai Sonata 2.0L', 'Hyundai Sonata 2.4',
        'Hyundai Sonata 2.4L', 'Hyundai Sonata CRDi',
        'Hyundai Sonata Transform', 'Hyundai Tucson 2.0',
        'Hyundai Tucson CRDi', 'Hyundai Venue SX', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna CRDi',
        'Hyundai Verna Fluidic', 'Hyundai Verna S', 'Hyundai Verna SX',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Verna VTVT', 'Hyundai Verna Xi', 'Hyundai Xcent 1.1',
        'Hyundai Xcent 1.2', 'Hyundai Xcent Base', 'Hyundai Xcent SX',
        'Hyundai i10', 'Hyundai i10 Asta', 'Hyundai i10 Era',
        'Hyundai i10 LPG', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 1.2', 'Hyundai i20 1.4',
        'Hyundai i20 2015-2017', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Diesel', 'Hyundai i20 Era', 'Hyundai i20 Magna',
        'Hyundai i20 Petrol', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Isuzu D-Max V-Cross', 'Isuzu MU 7', 'Isuzu MUX 2WD',
        'Jaguar XE 2016-2019', 'Jaguar XE XE', 'Jaguar XF 2.0',
        'Jaguar XF 2.2', 'Jaguar XF 3.0', 'Jaguar XF Diesel',
        'Jeep Compass 1.4', 'Jeep Compass 2.0', 'Jeep Wrangler 2016-2019',
        'Jeep Wrangler Unlimited', 'Kia Seltos HTX',
        'Land Rover Discovery', 'Land Rover Freelander',
        'Land Rover Range', 'Lexus ES 300h', 'MG Hector Sharp',
        'MG Hector Smart', 'Mahindra Bolero 2011-2019',
        'Mahindra Bolero B2', 'Mahindra Bolero B4', 'Mahindra Bolero DI',
        'Mahindra Bolero GLX', 'Mahindra Bolero LX',
        'Mahindra Bolero PLUS', 'Mahindra Bolero Pik-Up',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Bolero SLX', 'Mahindra Bolero XL',
        'Mahindra Ingenio CRDe', 'Mahindra Jeep CL', 'Mahindra Jeep CL550',
        'Mahindra Jeep Classic', 'Mahindra Jeep MM', 'Mahindra KUV 100',
        'Mahindra KUV100', 'Mahindra KUV100 K8', 'Mahindra Logan',
        'Mahindra Logan Diesel', 'Mahindra Logan Petrol',
        'Mahindra Marazzo M2', 'Mahindra Marazzo M6',
        'Mahindra Marazzo M8', 'Mahindra Marshal DI',
        'Mahindra NuvoSport N8', 'Mahindra Quanto C2',
        'Mahindra Quanto C4', 'Mahindra Quanto C6', 'Mahindra Quanto C8',
        'Mahindra Renault Logan', 'Mahindra Scorpio',
        'Mahindra Scorpio 1.99', 'Mahindra Scorpio 2.6',
        'Mahindra Scorpio 2006-2009', 'Mahindra Scorpio 2009-2014',
        'Mahindra Scorpio EX', 'Mahindra Scorpio Gateway',
        'Mahindra Scorpio Intelli', 'Mahindra Scorpio LX',
        'Mahindra Scorpio M2DI', 'Mahindra Scorpio S10',
        'Mahindra Scorpio S11', 'Mahindra Scorpio S2',
        'Mahindra Scorpio S3', 'Mahindra Scorpio S4',
        'Mahindra Scorpio S5', 'Mahindra Scorpio S7',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLS', 'Mahindra Scorpio VLX',
        'Mahindra Scorpio Vlx', 'Mahindra Scorpio W',
        'Mahindra Ssangyong Rexton', 'Mahindra Supro LX',
        'Mahindra TUV 300', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar 4X4', 'Mahindra Thar CRDe', 'Mahindra Thar DI',
        'Mahindra Verito 1.4', 'Mahindra Verito 1.5',
        'Mahindra Verito 1.6', 'Mahindra Verito Vibe',
        'Mahindra XUV300 W6', 'Mahindra XUV300 W8', 'Mahindra XUV500',
        'Mahindra XUV500 AT', 'Mahindra XUV500 W10', 'Mahindra XUV500 W11',
        'Mahindra XUV500 W4', 'Mahindra XUV500 W5', 'Mahindra XUV500 W6',
        'Mahindra XUV500 W7', 'Mahindra XUV500 W8', 'Mahindra XUV500 W9',
        'Mahindra Xylo D2', 'Mahindra Xylo D4', 'Mahindra Xylo E4',
        'Mahindra Xylo E8', 'Mahindra Xylo H9', 'Maruti 800 AC',
        'Maruti 800 DX', 'Maruti 800 EX', 'Maruti 800 Std',
        'Maruti 800 Uniq', 'Maruti A-Star Lxi', 'Maruti A-Star Vxi',
        'Maruti Alto 800', 'Maruti Alto AX', 'Maruti Alto Green',
        'Maruti Alto K10', 'Maruti Alto LX', 'Maruti Alto LXI',
        'Maruti Alto LXi', 'Maruti Alto STD', 'Maruti Alto Std',
        'Maruti Baleno Alpha', 'Maruti Baleno Delta', 'Maruti Baleno LXI',
        'Maruti Baleno RS', 'Maruti Baleno Sigma', 'Maruti Baleno Zeta',
        'Maruti Celerio LDi', 'Maruti Celerio LXI', 'Maruti Celerio VDi',
        'Maruti Celerio VXI', 'Maruti Celerio VXi', 'Maruti Celerio X',
        'Maruti Celerio ZDi', 'Maruti Celerio ZXI', 'Maruti Ciaz 1.3',
        'Maruti Ciaz 1.4', 'Maruti Ciaz AT', 'Maruti Ciaz Alpha',
        'Maruti Ciaz Delta', 'Maruti Ciaz RS', 'Maruti Ciaz S',
        'Maruti Ciaz VDI', 'Maruti Ciaz VDi', 'Maruti Ciaz VXi',
        'Maruti Ciaz ZDi', 'Maruti Ciaz ZXi', 'Maruti Ciaz Zeta',
        'Maruti Dzire LXI', 'Maruti Dzire VXI', 'Maruti Dzire ZXI',
        'Maruti Eeco 5', 'Maruti Eeco 7', 'Maruti Eeco CNG',
        'Maruti Eeco Smiles', 'Maruti Ertiga 1.5', 'Maruti Ertiga BSIV',
        'Maruti Ertiga LDI', 'Maruti Ertiga LXI', 'Maruti Ertiga SHVS',
        'Maruti Ertiga VDI', 'Maruti Ertiga VXI', 'Maruti Ertiga ZDI',
        'Maruti Ertiga ZXI', 'Maruti Esteem AX', 'Maruti Esteem DI',
        'Maruti Esteem LX', 'Maruti Esteem Lxi', 'Maruti Esteem Vxi',
        'Maruti Estilo LXI', 'Maruti Gypsy King', 'Maruti Ignis 1.2',
        'Maruti Ignis 1.3', 'Maruti Ignis Zeta', 'Maruti Omni 5',
        'Maruti Omni 8', 'Maruti Omni BSIII', 'Maruti Omni CNG',
        'Maruti Omni E', 'Maruti Omni LPG', 'Maruti Omni Limited',
        'Maruti Omni MPI', 'Maruti Ritz Genus', 'Maruti Ritz LDi',
        'Maruti Ritz LXI', 'Maruti Ritz LXi', 'Maruti Ritz VDi',
        'Maruti Ritz VXI', 'Maruti Ritz VXi', 'Maruti Ritz ZDi',
        'Maruti Ritz ZXi', 'Maruti S-Cross 2017-2020',
        'Maruti S-Presso VXI', 'Maruti SX4 Celebration',
        'Maruti SX4 Green', 'Maruti SX4 S', 'Maruti SX4 VDI',
        'Maruti SX4 Vxi', 'Maruti SX4 ZDI', 'Maruti SX4 ZXI',
        'Maruti SX4 Zxi', 'Maruti Suzuki 800', 'Maruti Suzuki A',
        'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Maruti Swift 1.3', 'Maruti Swift AMT', 'Maruti Swift DDiS',
        'Maruti Swift Dzire', 'Maruti Swift Glam', 'Maruti Swift LDI',
        'Maruti Swift LXI', 'Maruti Swift LXi', 'Maruti Swift Ldi',
        'Maruti Swift Lxi', 'Maruti Swift Star', 'Maruti Swift VDI',
        'Maruti Swift VDi', 'Maruti Swift VVT', 'Maruti Swift VXI',
        'Maruti Swift VXi', 'Maruti Swift Vdi', 'Maruti Swift ZDI',
        'Maruti Swift ZDi', 'Maruti Swift ZXI', 'Maruti Vitara Brezza',
        'Maruti Wagon R', 'Maruti XL6 Alpha', 'Maruti Zen Base',
        'Maruti Zen Classic', 'Maruti Zen D', 'Maruti Zen Estilo',
        'Maruti Zen LX', 'Maruti Zen LXI', 'Maruti Zen LXi',
        'Maruti Zen Std', 'Maruti Zen VXI', 'Maruti Zen VXi',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mercedes-Benz B Class',
        'Mercedes-Benz CLA 200', 'Mercedes-Benz E-Class E',
        'Mercedes-Benz E-Class E250', 'Mercedes-Benz E-Class E270',
        'Mercedes-Benz E-Class E350', 'Mercedes-Benz E-Class Exclusive',
        'Mercedes-Benz GL-Class 220d', 'Mercedes-Benz GL-Class 350',
        'Mercedes-Benz GLA Class', 'Mercedes-Benz GLC 220d',
        'Mercedes-Benz M-Class ML', 'Mercedes-Benz New C-Class',
        'Mercedes-Benz S-Class S', 'Mini Cooper S',
        'Mitsubishi Lancer 1.8', 'Mitsubishi Lancer 2.0',
        'Mitsubishi Pajero 2.8', 'Mitsubishi Pajero Sport',
        'Nissan Kicks XL', 'Nissan Kicks XV', 'Nissan Micra Active',
        'Nissan Micra Diesel', 'Nissan Micra Fashion', 'Nissan Micra XE',
        'Nissan Micra XL', 'Nissan Micra XV', 'Nissan Sunny',
        'Nissan Sunny Diesel', 'Nissan Sunny XL', 'Nissan Sunny XV',
        'Nissan Teana XL', 'Nissan Terrano XE', 'Nissan Terrano XL',
        'Nissan Terrano XV', 'Nissan X Trail', 'Opel Astra 1.6',
        'Peugeot 309 GLD', 'Renault Captur 1.5', 'Renault Duster',
        'Renault Duster 110', 'Renault Duster 110PS', 'Renault Duster 4x4',
        'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster Adventure', 'Renault Duster Petrol',
        'Renault Duster RXL', 'Renault Duster RXZ', 'Renault Duster RxL',
        'Renault Fluence 1.5', 'Renault Fluence 2.0',
        'Renault Fluence Diesel', 'Renault KWID 1.0', 'Renault KWID AMT',
        'Renault KWID Climber', 'Renault KWID RXE', 'Renault KWID RXL',
        'Renault KWID RXT', 'Renault Koleos 2.0', 'Renault Kwid',
        'Renault Kwid 1.0', 'Renault Kwid RXT', 'Renault Lodgy 85',
        'Renault Lodgy 85PS', 'Renault Lodgy Stepway',
        'Renault Lodgy World', 'Renault Pulse RxL', 'Renault Pulse RxZ',
        'Renault Scala Diesel', 'Renault Scala RxL', 'Renault Triber RXT',
        'Renault Triber RXZ', 'Skoda Fabia', 'Skoda Fabia 1.2',
        'Skoda Fabia 1.2L', 'Skoda Fabia 1.4', 'Skoda Fabia Classic',
        'Skoda Fabia Scout', 'Skoda Kodiaq 2.0', 'Skoda Laura',
        'Skoda Laura Ambiente', 'Skoda Octavia Ambiente',
        'Skoda Octavia Ambition', 'Skoda Octavia Classic',
        'Skoda Octavia Elegance', 'Skoda Octavia L', 'Skoda Octavia RS',
        'Skoda Octavia Rider', 'Skoda Octavia Style', 'Skoda Rapid 1.5',
        'Skoda Rapid 1.6', 'Skoda Rapid Elegance', 'Skoda Rapid Monte',
        'Skoda Rapid Ultima', 'Skoda Superb 1.8', 'Skoda Superb Elegance',
        'Skoda Superb LK', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Aria Prestige', 'Tata Aria Pride', 'Tata Aria Pure',
        'Tata Bolt Quadrajet', 'Tata Bolt Revotron', 'Tata Bolt XM',
        'Tata Estate Std', 'Tata Harrier XZ', 'Tata Hexa XE',
        'Tata Hexa XM', 'Tata Hexa XT', 'Tata Hexa XTA', 'Tata Indica',
        'Tata Indica DLS', 'Tata Indica DLX', 'Tata Indica GLS',
        'Tata Indica V2', 'Tata Indica Vista', 'Tata Indica eV2',
        'Tata Indigo CR4', 'Tata Indigo CS', 'Tata Indigo GLS',
        'Tata Indigo GLX', 'Tata Indigo Grand', 'Tata Indigo LS',
        'Tata Indigo LX', 'Tata Indigo Marina', 'Tata Indigo TDI',
        'Tata Indigo V', 'Tata Indigo VS', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza Club',
        'Tata Manza ELAN', 'Tata Nano', 'Tata Nano CX', 'Tata Nano Cx',
        'Tata Nano GenX', 'Tata Nano LX', 'Tata Nano Lx',
        'Tata Nano Twist', 'Tata Nano XE', 'Tata Nano XTA',
        'Tata New Safari', 'Tata Nexon 1.2', 'Tata Nexon 1.5',
        'Tata Safari DICOR', 'Tata Safari Storme', 'Tata Spacio Gold-10/6',
        'Tata Sumo CX', 'Tata Sumo EX', 'Tata Sumo GX', 'Tata Sumo Gold',
        'Tata Sumo Grande', 'Tata Sumo MKII', 'Tata Sumo SE',
        'Tata Sumo Victa', 'Tata Tiago 1.05', 'Tata Tiago 1.2',
        'Tata Tiago 2019-2020', 'Tata Tiago NRG', 'Tata Tiago Revotorq',
        'Tata Tiago Revotron', 'Tata Tiago XT', 'Tata Tigor 1.05',
        'Tata Tigor 1.2', 'Tata Tigor 2017-2020', 'Tata Tigor Revotron',
        'Tata Venture EX', 'Tata Venture LX', 'Tata Vista Quadrajet',
        'Tata Winger Deluxe', 'Tata Xenon XT', 'Tata Zest Quadrajet',
        'Tata Zest Revotron', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Camry 2.5', 'Toyota Camry V4', 'Toyota Corolla',
        'Toyota Corolla AE', 'Toyota Corolla Altis', 'Toyota Corolla DX',
        'Toyota Corolla H2', 'Toyota Etios', 'Toyota Etios 1.4',
        'Toyota Etios 1.5', 'Toyota Etios Cross', 'Toyota Etios Diesel',
        'Toyota Etios G', 'Toyota Etios GD', 'Toyota Etios Liva',
        'Toyota Etios V', 'Toyota Etios VD', 'Toyota Etios VX',
        'Toyota Etios VXD', 'Toyota Fortuner', 'Toyota Fortuner 2.5',
        'Toyota Fortuner 2.8', 'Toyota Fortuner 3.0',
        'Toyota Fortuner 4x2', 'Toyota Fortuner 4x4', 'Toyota Glanza G',
        'Toyota Glanza V', 'Toyota Innova 2.0', 'Toyota Innova 2.5',
        'Toyota Innova Crysta', 'Toyota Land Cruiser',
        'Toyota Platinum Etios', 'Toyota Premio Base', 'Toyota Qualis',
        'Toyota Qualis FS', 'Toyota Qualis Fleet', 'Toyota Qualis GS',
        'Toyota Yaris V', 'Volkswagen Ameo 1.0', 'Volkswagen Ameo 1.2',
        'Volkswagen Ameo 1.5', 'Volkswagen CrossPolo 1.5',
        'Volkswagen Jetta 1.6', 'Volkswagen Jetta 2.0',
        'Volkswagen Jetta 2.0L', 'Volkswagen Jetta Comfortline',
        'Volkswagen Jetta Highline', 'Volkswagen Multivan TDI',
        'Volkswagen Passat 1.8', 'Volkswagen Passat 2.0',
        'Volkswagen Passat Diesel', 'Volkswagen Passat Highline',
        'Volkswagen Polo', 'Volkswagen Polo 1.0', 'Volkswagen Polo 1.2',
        'Volkswagen Polo 1.5', 'Volkswagen Polo 2015-2019',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Diesel',
        'Volkswagen Polo GT', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Petrol',
        'Volkswagen Polo Select', 'Volkswagen Polo Trendline',
        'Volkswagen Vento 1.5', 'Volkswagen Vento 1.6',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Diesel',
        'Volkswagen Vento Highline', 'Volkswagen Vento IPL',
        'Volkswagen Vento Konekt', 'Volkswagen Vento Petrol',
        'Volvo S60 D4', 'Volvo S80 Summum', 'Volvo S90 D4',
        'Volvo V40 Cross', 'Volvo V40 D3', 'Volvo XC40 D4',
        'Volvo XC60 Inscription'], dtype=object),
 array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
 array(['Automatic', 'Manual'], dtype=object),
 array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
        'Test Drive Car', 'Third Owner'], dtype=object)]

#Creating Pipeline

In [46]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [47]:
column_trans= make_column_transformer((OneHotEncoder(categories= ohe.categories_),['name','fuel_type','transmission','owner']), remainder= 'passthrough')

In [48]:
lr= LinearRegression()
scale= MaxAbsScaler()

In [49]:
pipeline = make_pipeline(column_trans,scale,lr)

In [50]:
pipeline.fit(xtrain,ytrain)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1500', 'Ambassador Grand 2000',
       'Ashok Leyland Stile', 'Audi A3 35', 'Audi A3 40',
       'Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A4 35',
       'Audi A6 2.0', 'Audi A6 3...
       'Volvo XC60 Inscription'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object)]),
                                                  ['name', 'fuel_type',
                                                   'transmission',
                                                   'owner'])])),
                ('maxabsscaler', MaxAbsScaler()),
                ('linearregression', LinearRegression())])

In [51]:
ytrainpred = pipeline.predict(xtrain)
r2_score(ytrain,ytrainpred)

0.9724602470979565

In [52]:
ypred = pipeline.predict(xtest)

In [53]:
r2_score(ytest,ypred)

0.9055101691980644

In [54]:
score=[]
for i in range(1000):
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.2,random_state= i)
    lr= LinearRegression()
    pipeline = make_pipeline(column_trans,scale,lr)
    pipeline.fit(xtrain,ytrain)
    ypred = pipeline.predict(xtest)
    score.append(r2_score(ytest,ypred))

In [55]:
np.argmax(score)

295

In [56]:
score[np.argmax(score)]

0.9641643637766034

In [57]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.2,random_state= np.argmax(score))
lr= LinearRegression()
pipeline = make_pipeline(column_trans,scale,lr)
pipeline.fit(xtrain,ytrain)
ytrain_pred= pipeline.predict(xtrain)
print('R2 score of train data:',r2_score(ytrain,ytrain_pred))
ypred = pipeline.predict(xtest)
print('R2 score of test data:',r2_score(ytest,ypred))

R2 score of train data: 0.9709189746652515
R2 score of test data: 0.9641643637766034

In [58]:
validation= cross_val_score(pipeline,xtrain,ytrain,cv=5)
np.mean(validation)

0.8948043529455745

In [59]:
validation= cross_val_score(pipeline,xtest,ytest,cv=5)
np.mean(validation)

0.876429349660443

In [60]:
import pickle
pickle.dump(pipeline,open('carpriceprediction.pkl','wb'))